name: Java CI

on:
  push:
  pull_request:

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 17 ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: ./gradlew build

      - name: Upload AzLink.jar
        uses: actions/upload-artifact@v4
        with:
          name: AzLink
          path: universal/build/libs/AzLink-*.jar
          overwrite: true

      - name: Upload AzLink-Legacy.jar
        uses: actions/upload-artifact@v4
        with:
          name: AzLink-Legacy
          path: universal-legacy/build/libs/AzLink-Legacy-*.jar
          overwrite: true
